@import "tailwindcss";
body{
    background-color:black;
        overflow-x: hidden;
}
@keyframes loopWords {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-loop-words {
  animation: loopWords 2000ms  linear infinite;
}
